<h1>添加新章节</h1>

<%= form_for @chapter do |f| %>
  
  <div class="field">
    <%= f.file_field :docfile %>
  </div>
  
  <br>
  
  <div class="field">
    <select name="chapter[book_id]" id="chapter_book_id">
    <%= options_from_collection_for_select(Book.all, :id, :name) %>
    </select>
  </div>
  
  <br>
  
  <div class="actions">
    <%= f.submit('提交') %>
  </div>
<% end %>